article {
  border-bottom: 3px solid $blue;
  margin-bottom: 1em;
  padding-bottom: 1em;


  ul, ol {
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
  ol { list-style-type: decimal; }

  .read-more {
    margin-left: 1em;
    color: $orange;
  }
}
