article {
  border-bottom: 3px solid $blue;
  margin-bottom: 1em;
  padding-bottom: 1em;


  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  .read-more {
    margin-left: 1em;
    color: orange;
  }

}
