article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-right: $base-spacing;
  border-bottom: $base-border;
  &:last-child {
    border: none;
  }

  h3 {
    color: $blue-green;
  }

  ul, ol {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: $small-spacing;
    margin-bottom: $small-spacing;
    padding-left: 0;
  }
  ol { list-style-type: decimal; }

  .read-more {
    color: $orange;
  }
}


.meta {
  list-style-type: none;
  font-size: $base-font-size * .8;
  margin-left: 0;
  margin-top: -$small-spacing;
  margin-bottom: $base-spacing;

  li {
    display: inline-block;

    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: '';
    }
  }

  .date {
    font-style: italic;
    padding-right: $small-spacing;
  }
}

