aside {
  @extend %small-column;

  // background-color: $aside-background-color;

  ul {
    @include clearfix;
    @extend %section-shadow;

    background-color: $aside-background-color;
    margin-bottom: $base-spacing;
    padding: $base-spacing;

    li {
      margin-bottom: $small-spacing;
    }
  }
  ol {
    font-size: $small-font-size;
  }

  .tag {
    padding: 2px $small-spacing 2px $small-spacing;
    margin: 2px;
    display: block;
    float: left;

    border: $base-border;
    border-radius: $base-border-radius;
  }
}
