aside {
  @extend %small-column;

  padding-left: $base-spacing;
  // background-color: $aside-background-color;

  ul {
    @include clearfix;
    margin-bottom: $small-spacing;
  }
  ol {
    font-size: $small-font-size;
  }

  .tag {
    padding: 2px $tiny-spacing 2px $tiny-spacing;
    margin: 2px;
    display: block;
    float: left;

    border: $base-border;
    border-radius: $base-border-radius;
  }
}
