.blog-widgets {
  @include span-columns(12 of 12);

  @include media($tablet) {
    @include span-columns(4 of 12);
  }
  @include media($desktop) {
    @include span-columns(4 of 12);
  }

  ul {
    @include fadein-keyframes;
    @include animate-children(fadeIn);
    @include clearfix;
    @include material-shadow(1);

    background-color: $aside-background-color;
    margin-bottom: $base-spacing;
    padding: $base-spacing;

    li {
      margin-bottom: $small-spacing;
    }
  }

  ol {
    font-size: $small-font-size;

    ol {
      list-style-position: outside;
      margin-bottom: $small-spacing;
      padding-left: $base-spacing;
    }
  }

  .tag {
    font-variant: small-caps;
    text-transform: lowercase;
    padding: 2px $small-spacing 2px $small-spacing;
    margin: 2px;
    display: block;
    float: left;

    border: $base-border;
    border-radius: $base-border-radius;
  }
}
