.blog-widgets {
  @include span-columns(12 of 12);

  @include media($tablet) {
    @include span-columns(4 of 12);
  }
  @include media($desktop) {
    @include span-columns(4 of 12);
  }
}

.widget {
  @include fadein-keyframes;
  @include animate-children(fadeIn);
  @include clearfix;
  @include material-shadow(1);

  background-color: $aside-background-color;
  margin-bottom: $base-spacing;
  padding: $small-spacing;

  li {
    margin-bottom: $tiny-spacing;
  }

  ol {
    font-size: $small-font-size;

    ol {
      list-style-position: outside;
      margin-bottom: $tiny-spacing;
      padding-left: $small-spacing;
    }
  }

  .tag {
    font-variant: small-caps;
    text-transform: lowercase;
    padding: 5px 10px;
    line-height: 1;
    margin: 3px;
    display: block;
    float: left;
    font-weight: 600;

    border: 1px solid $action-color;
    border-radius: 50px;
  }
}
