footer {
  @include linear-gradient(lighten($footer-background-color, 15%),
  $footer-background-color);

  padding: $small-spacing 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;

  a {
    color: #fff;

    &:active,
    &:hover,
    &:focus {
      color: darken($nav-link-color, 15%);
    }
  }

  p {
    color: $colors-yellow-light;
    margin: $small-spacing;
  }
}

.footer-links {
  li {
    display: inline-block;
    padding-right: 20px;
  }
}


.blog-info {
  text-align: center;
}
