footer {
  @include linear-gradient(lighten($footer-background-color, 15%),
  $footer-background-color);

  padding: $base-spacing 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;

  a {
    color: #fff;

    &:active,
    &:hover,
    &:focus {
      color: darken($nav-link-color, 15%);
    }
  }

  p {
    color: $colors-yellow-light;
    margin: $small-spacing;
  }
}

.footer-content {
  padding-top: $base-spacing;

  li {
    display: inline-block;
    padding-right: 20px;
  }
}

.footer-links {
  display: block;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing * 2;
  transform: translate(-50%, -50%);

}


.blog-info {
  text-align: center;
}
