// $footer-height: 150px;
$footer-background-color: $nav-background-color;
$footer-border-color: lighten($footer-background-color, 15%);

footer {
  @include linear-gradient(lighten($footer-background-color, 15%),
  $footer-background-color);

  padding: $base-spacing;
  width: 100%;
  text-align: center;

  a {
    color: #fff;

    &:active,
    &:hover,
    &:focus {
      color: darken($nav-link-color, 15%);
    }
  }

  p {
    color: $colors-yellow-light;
    margin: $small-spacing / 2;
  }
}

.footer-links {
  li {
    display: inline-block;
    padding-right: 20px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
