html,
body {
  margin: 0;
  padding: 0;
  background-color: $base-background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.main-content {
  padding-top: $nav-height;
  flex: 1;
  @include outer-container;
}

.blog-content {
  @include span-columns(12 of 12);

  @include media($tablet) {
    @include span-columns(8 of 12);
  }
}


