$texture-top-background: lighten($base-background-color, 1%);
$texture-bottom-background: darken($base-background-color, 10%);
// $texture-top-background: lighten($colors-yellow-light, 1%);
// $texture-bottom-background: darken($colors-yellow-light, 10%);

html,
body {
  margin: 0;
  padding: 0;
  background-color: $base-background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 9, 0);
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 3, 0);
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 12, 0);
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.main-content {
  padding: $nav-height 0.5rem 0 0.5rem;
  flex: 1;
  @include outer-container;

  @include media($tablet) {
    max-width: 80%;
  }
  @include media($medium) {
    max-width: $max-width;
  }
  @include media($desktop) {
    padding: $nav-height 0 0 0;
  }
}

.blog-content {
  @include span-columns(12 of 12);

  @include media($medium) {
    @include span-columns(8 of 12);
  }
}
