$texture-top-background: lighten($base-background-color, 1%);
$texture-bottom-background: darken($base-background-color, 10%);
// $texture-top-background: lighten($colors-yellow-light, 1%);
// $texture-bottom-background: darken($colors-yellow-light, 10%);

html,
body {
  margin: 0;
  padding: 0;
  background-color: $base-background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 9, 0);
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 3, 0);
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 12, 0);
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.main-content {
  padding-top: $nav-height;
  flex: 1;
  @include outer-container;
}

.blog-content {
  @include span-columns(12 of 12);

  @include media($tablet) {
    @include span-columns(8 of 12);
  }
}
