header {
  @include linear-gradient($nav-background-color, lighten($nav-background-color,
  15%));

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  @include outer-container;
  @include user-select(none);
}

nav {
  float:right;
  vertical-align: top;
  height: $nav-height;

  ul {
    display: inline-block;
  }

  li {
    @include transition;
    display: block;
    float: left;
    vertical-align: text-top;
    padding: 0 10px 0 10px;
    border-right: 1px solid $nav-border-color;
    cursor: pointer;

    a {
      display: block;
      height: $nav-height;
    }

    &:last-child {
      padding-right: 0px;
      border: none;
    }

    &:active,
    &:hover,
    &:focus {
      background: darken($nav-background-color, 5);
    }
  }
}

.nav-link {
  line-height: $nav-height;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo {
  line-height: $nav-height;
  font-size: 1.4em;
  letter-spacing: 1.5px;
  float: left;
  text-shadow: none;
  margin: 0;
  padding-left: 0;
}
