header {
  @include position(fixed, 0 0 null 0);
  z-index: 150;
  background-color: $nav-background-color;
  width: 100%;
  padding-left: $base-spacing;
  @include material-shadow(3);
}

.header-container {
  @include outer-container;
  @include user-select(none);
}

.sliding-panel-content {
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: $action-color;
  $sliding-panel-color-hover: #fff;
  $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  z-index: 999999;

  @include media($desktop-only) {
    @include position(fixed, 0px auto 0px 0px);
    @include size(220px 100%);
    @include transform(translateX(-220px));
    @include transition(all 0.25s linear);
    background: $sliding-panel-background;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    li a {
      border-bottom: $sliding-panel-border;
      color: $sliding-panel-color;
      display: block;
      font-weight: bold;
      padding: 1em;
      text-decoration: none;

      &:focus {
        background-color: $sliding-panel-background-focus;
      }

      &:hover {
        background-color: $sliding-panel-background-hover;
        color: $sliding-panel-color-hover;
      }
    }

    &.is-visible {
      box-shadow: 6px -1px 12px -1px rgba(0,0,0,0.75);
      @include transform(translateX(0));
    }

  }

  @include media($desktop) {
    float:right;
    vertical-align: top;
    height: $nav-height;

    ul {
      display: inline-block;
    }

    li {
      @include transition;
      display: block;
      float: left;
      vertical-align: text-top;
      padding: 0 10px 0 10px;
      border-right: 1px solid $nav-border-color;
      cursor: pointer;

      a {
        display: block;
        height: $nav-height;
        color: $nav-link-color;

        &:active,
        &:hover,
        &:focus {
          color: lighten($nav-link-color, 15%);
        }
      }

      &:last-child {
        padding-right: 0px;
        border: none;
      }

      &:active,
      &:hover,
      &:focus {
        background: lighten($nav-background-color, 15%);
      }
    }
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 99;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  float: right;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none;
  background: none;

  img {
    @include transition (all 0.2s ease-in-out);
    border-radius: 50%;
    height: 100%;
  }


  &:active,
  &:hover,
  &:focus {
    background: none;

    img {
      @include material-shadow(2);
    }
  }

  @include media($desktop) {
    display: none;
  }
}



.nav-link {
  line-height: $nav-height;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo {
  line-height: $nav-height;
  letter-spacing: 1.5px;
  float: left;
  text-shadow: none;
  margin: 0;
  padding-left: 0;

  a {
    color: $logo-color;

    &:active,
    &:hover,
    &:focus {
      color: darken($logo-color, 15%);
    }
  }

  font-size: $base-font-size * 1.8;
}

