nav {
  border-bottom: $base-border;
  margin: em(30) 0;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }

  li {
    display: inline-block;
    padding-right: 20px;
  }
}

.nav-link {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
