<% wrap_layout :layout do %>
  <div class="grid">
    <section class="blog-content">
      <% if current_article %>
        <article>
          <%= partial "partials/blog/title" %>
          <%= yield %>
        </article>
      <% else %>
        <%= yield %>
      <% end %>
    </section>

    <%= partial "partials/blog/widgets" %>
  </div>
<% end %>
