
<footer>
  <ul class="large-column">
    <li><h5 class="heading">Where to find me:</h></li>
    <li><%= link_to "Twitter", "http://www.twitter.com/colbycheeze" %></li>
    <li><%= link_to "Github", "http://www.github.com/colbycheeze" %></li>
    <li><%= link_to "Email", "mailto:colby@colbycheeze.com" %></li>
  </ul>
</footer>
