@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(960);

// Neat Breakpoints
$desktop: min-width 1120px;
$tablet: min-width 730px;
$mobile: min-width 480px;
$tablet-only: max-width 729px;
$mobile-only: max-width 479px;

