@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(960);

// Neat Breakpoints
$desktop: min-width em(1120);
$medium: min-width em(1000);
$tablet: min-width em(730);
$mobile: min-width em(480);
$desktop-only: max-width em(1119);
$tablet-only: max-width em(729);
$mobile-only: max-width em(479);

