body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  text-shadow: 0 2px 5px $font-shadow-color;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 800;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  color: $dark-gray;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 $small-spacing;
}

blockquote {
  border-left: 4px solid $medium-gray;
  color: $medium-gray;
  font-style: italic;
  margin-left: 1rem;
  padding-left: 1rem;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  border: solid 1px #ddd;
  border-radius: 3px;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

code {
  padding: 0.5em 1em;
  display: block;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 90%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

// Styling for gutters...if I decide to use them
// .gl {
//   background: #fafafa;
//   border-right: 1px solid #ddd;
//   color: #999;
// 
//   /* Stop line numbers being visually selected */
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// 
