body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;

  @include media($tablet-only) {
    font-size: $base-font-size * 0.9;
  }
  @include media($mobile-only) {
    font-size: $base-font-size * 0.7;
  }

  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $tiny-spacing;
}

h1 {
  font-size: $base-font-size * 1.9;

  @include media($tablet-only) {
    font-size: $base-font-size * 1.7;
  }
  @include media($mobile-only) {
    font-size: $base-font-size * 1.4;
  }

  font-weight: 700;
  // text-transform: uppercase;
  letter-spacing: $base-letter-spacing;

  text-shadow: 0 2px 5px $base-shadow-color;
}

h2 {
  font-size: $base-font-size * 1.8;

  @include media($tablet-only) {
    font-size: $base-font-size * 1.6;
  }
  @include media($mobile-only) {
    font-size: $base-font-size * 1.2;
  }

  font-weight: 700;
}

h3 {
  font-size: $base-font-size * 1.5;

  @include media($tablet-only) {
    font-size: $base-font-size * 1.3;
  }
  @include media($mobile-only) {
    font-size: $base-font-size * 1.1;
  }

  font-weight: 600;
  color: $h3-color;
}

h4 {
  font-size: $base-font-size * 1.2;

  @include media($tablet-only) {
    font-size: $base-font-size * 1.0;
  }
  @include media($mobile-only) {
    font-size: $base-font-size * 0.8;
  }

  color: $dark-gray;
  font-weight: 600;
  margin-bottom: 1rem;
}

h5 {
  font-weight: 600;
  text-shadow: none;
  margin-bottom: .5em;
}

h6 {
  font-size: $base-font-size * 0.9;

  @include media($tablet-only) {
    font-size: $base-font-size * 0.8;
  }
  @include media($mobile-only) {
    font-size: $base-font-size * 0.6;
  }
}

.line-behind {
    display: table;
    white-space: nowrap;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;

    &:before, &:after {
      border-top: $base-border;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.6em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

p {
  margin: 0 0 $small-spacing;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 4px solid $teal;
  color: $dark-gray;
  font-style: italic;
  margin-left: 0;
  padding-left: 1rem;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


