//$visual-grid: true;

// Typography
//$base-font-family: 'proxima-nova', $helvetica;
$base-font-family: "Roboto Slab", Georgia, serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.1em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0D9FFF;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$orange: #FF9B0D;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;
$heading-color: $base-font-color;
$font-shadow-color: $light-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$footer-border-color: $blue;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Header
$nav-height: 60px;
$nav-background-color: $orange;
$nav-border-color: lighten($nav-background-color, 15%);

// Footer
$footer-height: 150px;
$footer-background-color: $nav-background-color;
$footer-border-color: lighten($footer-background-color, 15%)
