// $visual-grid: true;

// Typography
$heading-font-family: "Open Sans", sans-serif, $helvetica;
$base-font-family: 'Arvo', serif, Georgia, Times;

// Font Sizes
$base-font-size: 1.1em;
$small-font-size: $base-font-size * 0.8;
$base-letter-spacing: 0.1em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0D9FFF;
$vibrant-blue: #0055bb;
$teal: #44bbcc;
$blue-green: #225533;
$light-blue: #bbeeff;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: darken(#fff, 5%);

//Test Color Scheme
$colors-blue-base: #323776;
$colors-blue-light: #7E82B1;
$colors-blue-medium-light: #545993;
$colors-blue-medium-dark: #191E58;
$colors-blue-dark: #080C3B;

$colors-orange-base: #AA7739;
$colors-orange-light: #FFD9AA;
$colors-orange-medium-light: #D4A56A;
$colors-orange-medium-dark: #805015;
$colors-orange-dark: #552F00;

$colors-yellow-base: #AA9E39;
$colors-yellow-light: #FFF6AA;
$colors-yellow-dark: #554C00;

// Font Colors
$base-background-color: $light-gray;
$base-font-color: $dark-gray;
$action-color: $colors-blue-medium-light;
$heading-color: $base-font-color;
$h3-color: $colors-orange-medium-light;
$base-shadow-color: darken($base-background-color, 15%);

// Border
$base-border-color: darken($base-background-color, 15%);
$base-border: 1px solid $base-border-color;
$footer-border-color: $blue;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Background

// Header
$nav-height: 80px;
$nav-background-color: $colors-blue-base;
// $nav-border-color: lighten($nav-background-color, 15%);
$nav-border-color: $colors-blue-medium-light;;
$logo-color: orange;
$nav-link-color: #fff;

// Content Area
// $content-background-color: darken(#fff, 3%);
$content-background-color: #fff;

// Footer
$footer-height: 150px;
$footer-background-color: $nav-background-color;
$footer-border-color: lighten($footer-background-color, 15%);

// Aside
$aside-background-color: darken($base-background-color, 5%);
$aside-border-color: lighten($aside-background-color, 15%);
