---
layout: "blog"
---

<article>
<h1>I am a challenge seeker and love writing code.</h1>
<h3>My Past</h3>
<p>I've dabbled in programming since I was a kid, and have always enjoyed creating things. I've always been a self learner, as I love picking up books and resources and just figuring things out. Overcoming challenges has always been a big rush for me.</p>

<p>For some years I picked up Flash as a way to express my creativity and quickly learned how to build games and apps. I was hired on with a freelance agency and given loads of time sensitive projects for high end customers including MTV, Toyota, and Kraft. I built many libraries and frameworks on the side to help my colleagues and improve our workflows for various projects.</p>

<h3>And then...</h3>
<p>I took a break from programming for a while after my Youtube channel hit it really big. I've always had a passion for teaching, and it just so happened that I ended up making some really good videos that people wanted to see. At my peak, I was getting around 2.5 million views a month, but I realized that I wanted to change my focus back to coding.</p>

<h3>Most Recent</h3>
<p>I have committed 100% of my time to becoming an expert with Javascript. I sold my gaming PC, and wake up at 5am each morning in order to learn and build all day. When I choose to focus on something, I jump in 100%. I've been studying everything I can about full stack development with Javascript including Design, UX, Clean Code, Databases, Security, best practices and more.</p>

<h3>The Future</h3>
<p>I want to build up a new following on my Youtube for programming screencasts, as well as revive my blog which I used to write very heavily for back when I used to code Flash games and apps. I am a huge people person and love to interact with the community, so writing and screen casting is an easy way for me to give back.</p>

<h3>What I am looking for</h3>
<p>My goal is to join with a company who are Agile minded, and love pairing / mentoring. I aim to learn from people smarter than me and grow as fast as possible. I am a very strong proponent of best practices and doing things right, so I want a company that can emulate my beliefs.</p>
</article>
