---
layout: "blog"
---

<article>
<h1>Hi there! I'm Colby and I love helping people.</h1>
<img src="http://cheeze-blog-images.s3.amazonaws.com/2015-07-05_19.13.21.png">

<p>
  How? Well on a personal level I'm a motivator and a teacher who is always searching for better and more efficient ways to do things in life, and how to be happier. I help my friends to lose weight, destress, and get over tough situations in life.
</p>

<p>
  For others, and you perhaps, I may be the perfect person to chat with about building a Meteor app, or anything Javascript and Front end related. I deal with performance issues and application design problems.
</p>

<p>
  Overall, you could say I am a "professional problem solver." That sounds cheesy. Oh well :)
</p>

<h3>Currently...</h3>
<p>At the moment I am a software designer for IBM, while doing a fair amount of consulting for Meteor and front end projects on the side. I tend to favor training and consulting over being hired to "just code things."</p>

<h3>Let's get in touch!</h3>
<strong>Things I am interested in:</strong>
<ul>
  <li>Giving talks at conferences and meetups</li>
  <li>Personal or corporate training and coaching</li>
  <li>Meteor app development</li>
</ul>
