---
---
<article>
  <h1>Welcome! Still working on my fancy landing page. :) </h1>

  <p>For now, you can read <%= link_to "my blog", "/blog" %> here, or check out <%= link_to "my dev diary", "http://colbycheeze.blogspot.com/" %>, to follow my progress in learning web development.</p>
</article>




