---
---
<h1>Welcome to My Very Much 'in progress...' Personal Website</h1>

<p>For now, you can read <%= link_to "My Journey", "http://colbycheeze.blogspot.com/" %>, to follow my progress in learning web development</p>

