<h1>List of my projects</h1>

<ul>
  <li><h3><%= link_to "Dance Dome", "http://www.mtv.com/games/arcade/game/play.jhtml?arcadeGameId=10158535", target: '_blank' %></h3> A DDR flavor game built for MTV's "America's Best Dance Crew" Reality TV Series. I crafted a custom skeletal animation system for the contestants, as well as an automated Step File parser which was customizable to add special moves which altered your opponent's required steps.</li>
  <img src="http://i.gyazo.com/99f4b5adaa462083b757a5b4eaf7ae85.gif" />
  <li><h3><%= link_to "Break Ball", "http://www.gimme5games.com/play-game/break-ball", target: '_blank' %></h3> Game built in 2 weeks for a hackfest which was designed to recreate a fun game I played as a kid. Features a fully functional level editor and progressively more difficult levels.</li>
  <img src="http://i.gyazo.com/65a204d718b9372a65667468a053e350.gif" />
  <li><h3><%= link_to "Open source Animation and Boid AI library", "https://code.google.com/p/cheezeworld/", target: '_blank' %></h3> Library for setting up various screens within games, as well as an extremely fast bitmap sprite sheet parser and keyframe animation system. Also includes artificial intelligence behaviors such as Boids.</li>
</ul>
