---
title: Vim and Tmux Presentation
layout: "portfolio"
---
<h4 class="line-behind">Vim and Tmux Productivity</h4>

<video id="sampleMovie" src="http://cheeze-blog-images.s3.amazonaws.com/screencast_2015-05-21_11-43-02_0_edited.mp4" autoplay loop></video>
